.Cryptos .Button {
    width: 20vw;
    margin-top: 5vh;
}

.Cryptos .SearchField {
    width: 100%;
    margin-bottom: 5vh;
    background-color: #fff;
}

.Cryptos header {
    justify-content: flex-end;
}