@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Overpass', sans-serif;
    margin: 4vh 4vw;
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
}

.NavBar .MenuItems {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavBar .MenuItems>* {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.SelectedNavLinkRed {
    border-bottom: solid 5px #db2b2b;
}
.SelectedNavLinkGreen {
    border-bottom: solid 5px #76cc4a;
}

.SelectedNavLinkBlue {
    border-bottom: solid 5px #1294ea;
}

main, section {
    display: flex;
    flex-direction: column;
}

article {
    width: 90%;
    align-self: center;
    z-index: 13;
}

h1, h2 {
    text-transform: uppercase;
    font-size: 6em;
    margin: 0;
    transform: translateY(35%);
    z-index: 0;
}

table {
    width: 100%;
    background-color: white;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

table, th, td {
    border: 2px solid #1294ea;
    border-collapse: collapse;
}

th {
    padding: 2vh 2vw;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    align-self: center;
    margin-bottom: -5vh;
}