@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Overpass', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4vh 4vw;
}

.NavBar .MenuItems {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavBar .MenuItems>* {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}