.Wallet h4 {
    font-size: 2em;
    font-weight: bold;
    color: #76cc4a;
    margin-left: 1vw;
}

.Wallet section:last-of-type {
    margin-top: 5vh;
    margin-bottom: 0.5vh;
}

.Wallet section:last-of-type>div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.Wallet h3 {
    font-size: 1.8em;
    text-transform: uppercase;
    align-self: flex-end;
    z-index: 13;
    transform: translate(-2%,-50%);
}